<!DOCTYPE html>
<html>
    <head>
         <title>IMDB Details</title>
    </head>
    <div align="center">
        <h1 style="color:#EDBB99"> <font face="Optima" >
            IMDB Top Rated Movies and TV Shows
        </font></h1>
    </div>
    <body bgcolor="#34495E"> <font face="Optima">
        <form method="post" action="/">
            <div align="center">
                <br><br><br>
                <h1 style="color:#E59866">Welcome, </h1>
                <h1 style="font-size:200px;color:#DC7633";>A.</h1>
                <input type="submit" name="Beginner" value="Beginner">
                <input type="submit" name="Amateur" value="Amateur">
                <input type="submit" name="Expert" value="Expert">
                <input type="submit" name="Advanced" value="Advanced">
            </div>
        </form>
    </font></body>
</html>